{% extends "base.html" %}


{% block content %}

<!--{% if not billing_profile %}-->
    <!--Login-->
    <!--Continue as Guest-->

<!--{% else %}-->
    <h1>Checkout</h1>

    <p>Cart Total: {{ object.cart.total }}</p>
    <p>Shipping Total: {{ object.shipping_total }}</p>
    <p>Order Total: {{ object.total }}</p>

<!--{% endif %}-->

{% endblock %}