{% extends "base.html" %}

{% block content %}
<h1>Cart</h1>

{% if cart.products.exists %}
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {% for product in cart.products.all %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td><a href="{{ product.get_absolute_url }}"/>{{ product.title }} {% include 'products/snippets/update_cart.html' with product=object cart=cart in_cart=True %}

            </td>


            <td>{{ product.price }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="2"></td>
            <td><b>Total </b>{{ cart.total }}</td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td><a class="btn btn-lg btn-success" href="{% url 'cart:checkout' %}">Checkout</a></td>
        </tr>
    </tbody>
</table>

{% else %}
    <p class="lead">Cart is Empty.</p>

{% endif %}

{% endblock %}