<div class="card" style="width: 18rem;">
  {% if instance.image %}
    <a href="{{ instance.get_absolute_url }}" ><img class="card-img-top" src="{{ instance.image.url }}"  alt="{{ instance.title }}">
    </a>
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{ instance.title }}</h5>
    <p class="card-text">{{ instance.description | truncatewords:20 }}</p>
    <a href="{{ instance.get_absolute_url }}" class="btn btn-primary">Detail</a>
    <!--<a href="{% url 'products:product_detail' slug=instance.slug %}" class="btn btn-warning">shortcut url</a>-->
  </div>
</div>