<form method="POST" action="{% url 'cart:update'%}"  class="form"> {% csrf_token %}
    <input type="hidden" name="product_id" value="{{ product.id }}" />
        {% if in_cart %}
            <small><a href="#">remove</a></small>
        {% else %}
            {% if object in cart.products.all %}
            <button type='submit' class="btn btn-success">Remove</button>
            {% else %}
            <button class="btn btn-success">Add to cart</button>
            {% endif %}
        {% endif %}
</form>