{% extends "base.html" %}

{% block content %}
<h1>Login</h1>
    <form method="POST"> {% csrf_token %}
    {{ form }}
    <button type="submit" class="btn btn-default">Submit</button>
    </form>
{% endblock %}