{% extends 'base.html' %}

{% block content %}
 <div class="row" mb-3>
     <div class="col-12 mb-3">
         Results for {{ query }}
         <hr>
    </div>
</div>

<div class="row" mb-3>
     {% for obj in object_list %}
     <div class="col">
        {% include 'products/snippets/card.html' with instance=obj %}

        {% if forloop.counter|divisibleby:3 %}
         </div></div><div class="row"><div class="col-12"><hr/></div>
        {% else %}
         </div>
        {% endif %}

     {% endfor %}
 </div>
{% endblock %}
