{% extends 'base.html' %}


{% block content %}

<h1>{{ title }}</h1>
    <div class="container">
        <div class="row">
            <div class="col">
            <p>{{ content }}</p>
                <form method="POST"> {% csrf_token %}
                    {{ form }}
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>

                <!--<form method="POST"> {% csrf_token %}-->
                    <!--<input type="text" class="form-control" placeholder="Name" name="fullname">-->
                    <!--<input type="email" class="form-control" placeholder="Email" name="email">-->
                    <!--<textarea type="content" class="form-control" placeholder="Content" name="content"></textarea>-->
                <!--<button type="submit" class="btn btn-default">Submit</button>-->
                <!--</form>-->
            </div>
        </div>
    </div>
{% endblock %}