<!doctype html>
{% load static %}
    <html lang="en">
      <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Base Template</title>
          {% include 'base/css.html' %}

          {% block base_head %}{% endblock %}
      </head>
      <body>
        {% include 'base/navbar.html' with brand_name='eCommerce' %}

        <div class="container">{% block content %}{% endblock %}</div>

        {% include 'base/js.html' %}
      </body>
    </html>