{% extends 'base.html' %}
{% load static %}

<title>Home Page Template</title>

{% block base_head %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}

{% block content %}
<div class="text-center">
    <h1>{{ title }}</h1>
</div>
    <div class="row">
        <div class="col">
            <img src="{% static 'img/logo.png' %}" class="img-fluid" />
            {{ content }}
        </div>
    </div>
    {% if premium_content %}
    <div class="row">
        <div class="col">
            {{ premium_content }}
        </div>
    </div>
    {% endif %}
{% endblock %}