{% extends 'base.html' %}

<title>Product Detail</title>

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-10">
            <h1> {{ product.title }} </h1> <br/>
            <img src="{{ product.image.url}}" class="img-fluid" /> <br/>
            {{ product.created_at|timesince }} ago <br/>
            {{ product.price }} <br/>
            {{ product.description | linebreaks }}
        </div>
        <div class="col-12 col-md-2">
            {% include 'products/snippets/update_cart.html' with product=object cart=cart %}

        </div>
    </div>
</div>
{% endblock %}