<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Detail</title>
</head>
<body>

<img src="{{ product.image.url}}" class="img-fluid" /> <br/>
{{ product.title }} <br/>
{{ product.price }} <br/>
{{ product.description }}

</body>
</html>